<div class="thumbnail-view row">
    <div class="col-xs-6 col-md-2" ng-repeat="service in services">
      <div class="result thumbnail">
          <div class="product-img-wrapper">
              <a href="#/detail/{{service.id}}"><img ng-src="{{service.icon}}" alt="..." width="154" /></a>
          </div>
          <div class="caption">
              
              <p class="product-name" ng-bind="service.displayName"></p>
              
              <p class="small">
                  {{service.description}}
                  <br />
              </p>
          </div>
      </div>
    </div>
</div>